p{
      font-size: 60px;
      float: right;
      margin-left: 50px;
      margin-right: 100px;
      font-family:Arial, Helvetica, sans-serif;
      font-style: italic;
      position: relative;
      top: 30px;
      margin-left: 100px;
}

h2{
      font-size: 30px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      top: 120px;
}

body{
   display:flex;
   max-width: 1440px;
   max-height: 100vh;
   flex-direction: column;
   margin: 0 auto;
   background-color: rgb(244, 224, 236);

}

main{
  flex: 1;
  overflow: scroll;
}

header{
  background-color: rgb(195, 98, 141);
  font-size: 200px;
  display:flex;
  max-width: 1440px;
  max-height: 120px;
}

button{
background-color: white;
}


h5 {margin-top: 5%;}
h5 {text-align: left;}
h5 {margin-left: 350px;}